PORT=3000

# Mongo
MONGO_URI=

# Auth
CLERK_SECRET_KEY=

CLERK_PUBLISHABLE_KEY=

# Secreto compartido para que ningún micro sea llamado salteando el Gateway
INTERNAL_KEY=

# URLs de los microservicios internos
MS1_URL=http://localhost:3002
MS2_URL=http://localhost:3003
MS3_URL=http://localhost:3004
